

<div id="dashboardHeader" class="dashboardheader">

  <!-- Dashboard Header -->
  <span height="50px">
    <div class="dashboardHeaderLeft">
      <img src="images/meter_icon.png" alt="dashboard">
      Dashboard
    </div>
    <div class="dashboardHeaderRight">         
      <a ng-href="#"><img src="images/bc_oil_gas_commission_logo.png" alt="dashboard"><br></a>
    </div>
  </span>

</div>

<!-- Applications Table -->
<div ng-app='epermitjsApp' ng-controller='DashboardCtrl'>

    <table ng-table class="table">
    <tr ng-repeat="app in applications">
        <td data-title="'Application'">{{app.appId}}</td>
        <td data-title="'Revision Num'">{{app.revId}}</td>
        <td data-title="'Status'">{{app.status}}</td>
        <td data-title="'Activity'">{{app.activity}}</td>
        <td data-title="'Proponent'">{{app.proponent}}</td>
    </tr>
    </table>

</div>
