

<!-- Applications Table -->
<div ng-app='epermitjsApp' ng-controller='WorkflowsCtrl'>

    <table ng-table class="table" >
    <tr ng-repeat="workflow in workflows">

        <!-- Workflow -->
        <td data-title="'Workflow'" style="text-align: left">
            <a href="{{workflow.url}}">{{workflow.name}}</a>
        </td>


        <!-- Status -->
        <td data-title="'Status'" ng-switch='workflow.status' style="text-align: left">
          
          <div ng-switch-when='OK'>
            <img src="images/green_circle.png">
          </div>
          <div ng-switch-when='NOK'>
            <img src="images/red_circle.png">
          </div>
          <div ng-switch-when='CHECKING'>
            <img src="images/yellow_circle.png">
          </div>
        </td>

        <!-- Last Updated -->
        <td data-title="'Last Updated'" style="text-align: left">{{workflow.lastUpdated}}</td>

        <!-- Duration -->
        <td data-title="'Duration'" style="text-align: left">{{workflow.duration}}</td>

    </tr>
    </table>

    <div class='legend'>
        <img src="images/green_circle.png"> Online
        <img src="images/yellow_circle.png"> Checking
        <img src="images/red_circle.png"> Offline
    </div>

</div>

<!-- socket-io client -->
<!--
<script src="scripts/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');

  socket.on('connect', function(){
    socket.on('event', function(data){});
  });
  
  socket.on('connected', function(msg){
    console.log('connected: ' + msg);
  });
  
  socket.on('broadcast', function(msg){
    console.log('broadcast: ' + msg);
  });
  -->
  
</script>
